[init]
  templatedir = ~/.git-template
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
  pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[credential]
  helper = cache --timeout=3600
[merge]
  tool = splice
[mergetool]
  keepBackup = false
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[user]
  name = Jared Norman
  email = jared@creepywizard.com
[github]
  user = jarednorman
[alias]
  a = add
  b = branch
  c = commit -v
  ca = commit -v --amend
  cf = commit --fixup
  co = checkout
  cb = checkout -b
  d = diff
  ds = diff --staged
  f = fetch
  ff = merge --ff-only
  ignore = update-index --assume-unchanged
  l = log --graph --pretty=format:'%C(green)%h%C(reset) %C(bold cyan)%s %C(bold green)%an%C(reset) %cd%C(blue)%d' --abbrev-commit --date=short
  m = merge
  p = pull
  pr = pull --rebase
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase -i
  flog = reflog --pretty=format:'%C(bold cyan)%h%C(reset) %C(blue)%cd %C(bold green)%s %C(bold cyan)%an%Creset%C(bold red)%d' --abbrev-commit --date=short
  s = status -s
  ss = status
  unignore = update-index --no-assume-unchanged
[rebase]
  autosquash = true
[color]
  branch       = auto
  diff         = auto
  status       = auto
[color "branch"]
  current      = yellow reverse
  local        = yellow
  remote       = green
[color "diff"]
  meta         = blue
  frag         = yellow
  old          = red
  new          = green
[color "status"]
  header       = magenta bold
  branch       = magenta
  added        = green
  changed      = blue
  untracked    = cyan bold
