[init]
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = cache --timeout=3600
[merge]
  tool = splice
  conflictstyle = diff3
[mergetool]
  keepBackup = false
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[user]
  name = Jared Norman
  email = jared@creepywizard.com
[github]
  user = jarednorman
[alias]
  a = add
  b = branch
  bl = branch --sort=-committerdate
  c = commit -v
  ca = commit -v --amend
  cf = commit --fixup
  cn = commit -v --no-verify
  co = checkout
  cb = checkout -b
  d = diff
  ds = diff --staged
  f = fetch
  ff = merge --ff-only
  ignore = update-index --assume-unchanged
  l = log --graph --pretty=format:'%C(8)%h %C(14)→ %C(15)%s %C(3)%aN %C(8)%cd%C(14)%d' --abbrev-commit --date=relative
  m = merge
  p = pull
  pr = pull --rebase
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase -i
  s = status -s
  ss = status
  unignore = update-index --no-assume-unchanged
[rebase]
  autosquash = true
[color]
  branch       = auto
  diff         = auto
  status       = auto
[color "branch"]
  current      = yellow reverse
  local        = yellow
  remote       = green
[color "diff"]
  meta         = blue
  frag         = yellow
  old          = red
  new          = green
[color "status"]
  header       = magenta bold
  branch       = magenta
  added        = green
  changed      = blue
  untracked    = cyan bold
