"*":
  "atom-clock": {}
  core:
    autoHideMenuBar: true
    projectHome: "/home/jared/Codes"
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    warnOnLargeFileLimit: 5
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "47dc68bb-2990-434b-a8d9-63bd06f2bb84"
  welcome:
    showOnStartup: false
