Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

URxvt.font:     xft:Office Code Pro:regular:size=12.5px
URxvt.boldFont: xft:Office Code Pro:medium:size=12.5px

URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.loginShell: true
URxvt.saveLines: 10000
URxvt.internalBorder: 0
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.pointerBlank: true

URxvt.background:  #fdf6e5
URxvt.foreground:  #647b82
URxvt.fadeColor:   #fdf6e5
URxvt.cursorColor: #647b82
URxvt.borderColor: #eee8d7

URxvt.color0:  #00353f
URxvt.color1:  #e12e34
URxvt.color2:  #849830
URxvt.color3:  #b7882c
URxvt.color4:  #168dcc
URxvt.color5:  #d7357f
URxvt.color6:  #12a198
URxvt.color7:  #eee8d7

URxvt.color8:  #002832
URxvt.color9:  #cb4b16
URxvt.color10: #576e74
URxvt.color11: #647b82
URxvt.color12: #829496
URxvt.color13: #6c70c0
URxvt.color14: #92a1a1
URxvt.color15: #fdf6e5
